.row
    .column-4.mobile-column-1
        .row.participant-details.left
            .name.large
                for word in participant.artist.name.split(' ')
                    | #{word}
                    br
                //- | #{participant.artist.name}

        .row.close
            .participant-details.left.centered
                .occupation
                    | !{participant.artist.occupation}
                .details
                    | #{participant.artist.description}
                    
                    if participant.artist.twitter
                        .social
                            a(href="https://twitter.com/#{participant.artist.twitter}")
                                | @#{participant.artist.twitter}


    .column-4.centered.mobile-column-1
        .row
            | #{(i || 0) + 1} of 7

        .row.image-container.overflow-hidden.centered.outro
            img(src="#{participant.artist.photo}")
            img(src="#{participant.technologist.photo}")

    .column-4.mobile-column-1
        .row
            .participant-details.right
                .name.large
                    for word in participant.technologist.name.split(' ')
                        | #{word}
                        br
                    //- | #{participant.technologist.name}

        .row.close
            .participant-details.right
                .occupation
                    | !{participant.technologist.occupation}
                .details
                    | #{participant.technologist.description}
                
                    if participant.technologist.twitter
                        .social
                            a(href="https://twitter.com/#{participant.technologist.twitter}")
                                | @#{participant.technologist.twitter}


//- .row.close
    
    .column-4.mobile-column-1



    .column-4.mobile-column-1