.row
    .column-4.mobile-column-1
        .row.participant-details.left
            .name.large
                for word in participant.artist.name.split(' ')
                    | #{word}
                    br
                //- | #{participant.artist.name}

        .row
            .participant-details.left.centered
                .occupation
                    | #{participant.artist.occupation}
                .details
                    | #{participant.artist.description}


    .column-4.centered.mobile-column-1
        .row
            | #{(i || 0) + 1} of 7

        .row.image-container.overflow-hidden.centered.outro
            img(src="#{participant.artist.photo}")
            img(src="#{participant.technologist.photo}")

    .column-4.mobile-column-1
        .participant-details.right
            .name.large
                for word in participant.technologist.name.split(' ')
                    | #{word}
                    br
                //- | #{participant.technologist.name}

        .row
            .participant-details.right
                .occupation
                    | #{participant.technologist.occupation}
                .details
                    | #{participant.technologist.description}

//- .row.close
    
    .column-4.mobile-column-1



    .column-4.mobile-column-1