

.alumni-thumbnail(data-index="#{idx}")
    img(src="#{team.thumbnail}")

    .description
        if team.keynote
            | #{team.keynote} Keynote

        else
            if team.artist !== ''
                span.artist
                    | #{team.artist} 
                | & 
                span.technologist
                    | #{team.technologist} 
            else 
                span.technologist
                    | #{team.technologist} 

            //- | • 
            //- | #{team.title}
