

.alumni-thumbnail
    img(src="#{team.thumbnail}")

    .description
        if team.keynote

            | #{team.title}
            br
            | #{team.keynote} Keynote

        else
            span.artist
                | #{team.artist} 
            | & 
            span.technologist
                | #{team.technologist} 

            //- | • 
            //- | #{team.title}
